<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <img class="logo-nav" src="./image/SuiteTreatLogoText.png" alt="Logo SuiteTreat">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="px-2 pt-3 pb-1 text-dark" href="#">Manager</a>
        {{!-- <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a> --}}
    </nav>
    {{!-- <h6 class="my-0 mr-3 font-weight-bold">Admin</h6>
    <a class="btn btn-outline-primary btn-outline-suitetreat btn-logout" href="#">Logout</a> --}}
</div>